@media (max-width: 1200px) {
  .hero {
    height: 100%;
    clip-path: none;
    overflow-x: hidden;
  }
  nav {
    display: block;
    position: relative;
    line-height: 50px;
  }
  .top_section {
    transform: translateY(50px);
    clip-path: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .main_hero_sec {
    clip-path: none;
    height: 100%;
    padding-bottom: 60px;
  }
  .overlay_content {
    position: relative;
  }
  .content_box {
    width: 100%;
    position: relative;
    left: 0;
    height: 550px;
  }
  .ser_img img {
    width: 43px;
    transform: translateX(3px);
    /* height: 100%; */
    /* width: 100%; */
    /* object-fit: cover; */
    height: 45px;
  }
  .menu {
    width: 100%;
    height: 100vh;
    background-color: #050546;
    display: block;
    text-align: center;
    transition: all 1s;
    visibility: hidden;
    /* opacity: 0; */
    clip-path: circle(5% at bottom);
    z-index: 1;
    margin-top: 18px;
  }
  .menu.active {
    visibility: visible;
    /* opacity: 1; */
    clip-path: circle(170% at bottom);
  }
  .menu ul {
    display: block;
    text-align: center;
    margin-top: 0px;
  }
  .menu ul li {
    display: block;
    margin: 0;
    line-height: 60px;
    margin-left: -25px;
  }
  .menu ul li a {
    /* color: #fff; */
    font-weight: 600;
  }
  .menu ul li .contact_box {
    margin-left: 0px;
  }
  header.sticky .menu ul li a {
    color: #fff;
    font-weight: 600;
  }
  header .container-lg {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
  }
  header.sticky .menu ul li .contact_box a {
    background-color: #fff;
    color: #333;
  }
  .contact_box button {
    /* background-color: #fff; */
    color: #111;
  }
  .logo_box {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
  }
  .logo img {
    width: 60%;
    height: 80%;
    display: none;
  }
  .logo h1 {
    display: block;
    position: absolute;
    left: 20px;
    top: 10px;
    color: #fff;
    font-size: 2rem;
  }
  .headSet_mobile {
    display: block;
    color: #fff;
    position: absolute;
    top: 5px;
  }
  .headSet_mobile span {
    line-height: -20px;
    font-size: 16px;
  }
  .headSet_mobile span i {
    font-size: 20px;
  }
  /* .container-lg {
    margin: 0;
    padding: 0;
  } */
  .menu_btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    width: 30px;
    height: 28px;
    background-image: url("../images/menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .menu_btn.active {
    background-image: url("../images/close.png");
  }
  .menu ul li a.active::after {
    background-color: #fff;
    /* background-color: #fff;
    color: #222; */
  }
  .menu_btn img {
    width: 100%;
    object-fit: cover;
  }
  .content {
    margin-top: 100px;
    padding: 0px 20px;
  }
  .image_box {
    text-align: center;
    height: 360px;
  }
  .image_box img {
    width: 90%;
    right: 5%;
    top: -60px;
  }
  .about_me {
    overflow: hidden;
  }
  .about_me::after {
    width: 100%;
    height: 100%;
  }
  .about_ul {
    position: relative;
  }
  .about_me ul li {
    display: inline-block;
  }
  .about_me ul li a {
    margin: 25px 10px;
    width: 35px;
    height: 35px;
  }
  .services {
    overflow-x: hidden;
  }
  .service_section {
    width: 100%;
    height: 100%;
  }
  .ser_content h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
  }
  .hire {
    width: 100%;
    height: 80vh;
  }
  .hire::after {
    content: "";
    width: 70%;
    height: 80%;
    background-color: #050546;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    margin: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  .hire_img {
    width: 70%;
    margin-top: 42px;
  }
  .hire_content {
    text-align: center;
    transform: translateY(100px);
  }
  .portfolio {
    height: 100%;
    padding: 20px 0px;
  }
  .port_img_box .sub_port_content {
    width: 100%;
    position: absolute;
    bottom: -150px;
    left: 10px;
    z-index: 9;
    transition: all 0.3s;
  }
  .review_title span {
    color: #fff;
    padding: 0px 10px;
    text-align: center;
  }
  .contact {
    clip-path: none;
    padding: 0px 10px;
  }
  .contact::after {
    content: "";
    width: 100%;
    height: 100%;
    clip-path: none;
  }
  .contact_title {
    width: 100%;
  }
  .bottom_logo {
    display: none;
  }
  .form_box {
    padding: 0px 20px;
  }
  .footer_content img {
    width: 200px;
  }
  .bottom_footer p {
    font-size: 14px;
  }
  .footer {
    overflow-x: hidden;
  }
  .contact {
    overflow-x: hidden;
  }
  .our_blog {
    overflow-x: hidden;
    padding-bottom: 0;
  }
  .our_team {
    overflow-x: hidden;
  }
  .portfolio {
    overflow-x: hidden;
  }
  .review {
    overflow-x: hidden;
    padding-bottom: 0px !important;
  }
  .review_slider {
    padding-bottom: 0px !important;
  }
  .about_me {
    overflow-x: hidden;
  }
  .ex_box {
    height: 100%;
    flex-direction: column;
    margin: 15px 0px;
  }
  .ex_date {
    width: 100%;
    height: 100%;
  }
  .ex_content {
    width: 100%;
    height: 100%;
  }
  .quick_link {
    margin-top: 50px;
  }
  .logo {
    text-align: center;
  }
  .pricing_box {
    width: 100%;
  }
  .Course_box {
    width: 100%;
  }
  .about_img_bg {
    width: 100%;
    height: 92%;
    background-color: #fff;
  }
  .port_list ul {
    display: block;
    line-height: 35px;
    text-align: center;
  }
  .port_list ul li {
    display: block;
  }
  .hire_img {
    display: none;
  }
  .hire::after {
    content: "";
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0;
    z-index: -1;
    margin: auto;
  }
  .experience_title big {
    font-size: 2.8rem;
  }
  .experience_title h3 {
    font-size: 1.8rem;
  }
  .get_peek {
    transform: translateX(0px);
  }
}
