* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  scroll-behavior: smooth;
}
.bck {
  z-index: 99999999999999999999;
  border-radius: 50%;
  background-color: #242069 !important;
  color: #fff;
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #0a115c);
  height: 200px;
  border-radius: 10px;
}
header {
  width: 100%;
  height: 70px;
  background-color: transparent;
  position: absolute;
  left: 0;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  padding: 10px 0px;
}

header.sticky {
  background-color: #111;
  padding: 0px;
  top: 0;
  position: fixed;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}
header.sticky .menu ul li a {
  color: #fff;
  font-weight: 600;
}
header.sticky .menu ul li .contact_box a {
  background-color: #fff;
  color: #333;
}
.main_hero_sec {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #242424;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 76% 85%, 51% 96%, 21% 85%, 0 99%); */
  background-image: url("../img/slide-3.c79640fb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.main_hero_sec::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050646;
  opacity: 0.5;
}

.overlay_content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.image_box {
  width: 100%;
  height: 100%;
  position: relative;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
/* .hero {
   width: 100%;
  background-color: #111;
  height: 100vh; 
  clip-path: polygon(0 0, 100% 0, 100% 100%, 79% 92%, 0 100%); 
} */
.logo_box {
  width: 30%;
  display: flex;
  justify-content: center;
}
.logo {
  width: 300px;
  line-height: 65px;
}
.logo h1 {
  display: none;
}
.logo img {
  width: 90%;
  height: 80%;
}
.headSet_mobile {
  display: none;
}
.menu {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}
.menu_btn {
  display: none;
}
.menu ul {
  display: flex;
  margin-top: 15px;
}
.menu ul li {
  display: inline-block;
  margin: 0px 20px;
  position: relative;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
  position: relative;
}

.menu ul li a:hover {
  color: #ff0057;
}
.image_box img {
  width: 70%;
  object-fit: cover;
  position: absolute;
  right: 15%;
  top: 0;
  margin-top: 50px;
  animation: upDown 2s infinite ease;
}
@keyframes upDown {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(30px);
  }
}
.menu ul li .contact_box {
  margin-left: 100px;
}
.menu ul li .contact_box a {
  padding: 5px 15px;
  background-color: #fff;
  border: none;
  outline: none;
  color: #111;
  font-weight: 600;
  text-decoration: none;
}
.menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: all 0.5s;
}
.menu ul li a.active::after {
  width: 100%;
}
.content_box {
  width: 500px;
  text-align: left;
  position: absolute;
  top: 55%;
  left: 15%;
  transform: translateY(-50%);
}
/* .content {
  margin-top: 200px;
  padding: 20px 0px;
} */
.content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #fff;
  margin-bottom: 20px;
  width: 100%;
  display: inline-block;
}
.content .brand_name {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #ff0057;
  margin-bottom: 10px;
}

.content .hero_ul {
  width: 100%;
  margin: 20px 0px;
}
.content .hero_ul ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.content .hero_ul ul li {
  list-style: none;
  display: inline-block;
}
.content .hero_ul ul li a {
  width: 35px;
  height: 35px;
  border: 1px solid #ff0057;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  transition: all 1s;
}
.content .hero_ul ul li a:hover {
  background-color: #ff0057;
  color: #fff;
}
.about_me {
  width: 100%;
  height: 100%;
  background-color: #050546;
  position: relative;
  z-index: 100;
}
/* .about_me::after {
  content: "";
  width: 70%;
  height: 55%;
  margin: auto 0px;
  background: #f71c52;
  position: absolute;
  right: 0;
  top: 200px;
  z-index: -1;
} */

.about_me_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}
.ab_ti_box {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ab_ti_box big {
  font-size: 4rem;
  font-weight: 600;
  color: #f71c52;
  margin-right: 20px;
}
.ab_ti_box > h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 5px 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.about_bg {
  background-color: #0a115c;
  padding: 40px 30px;
}
.about_img_bg {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.about_me_img {
  width: 100%;
  text-align: center;
  z-index: 10;
  transform: translateY(-50px);
}
.about_me_img img {
  width: 70%;
  object-fit: cover;
  height: 80%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.about_me_text {
  width: 100%;
  padding: 20px 30px;
}
.about_me_text h3 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}
.about_me_text h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 50px;
  color: #fff;
}
.about_me_text p {
  display: block;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  line-height: 30px;
}
.services {
  width: 100%;
  height: 100%;
  background-color: #050546;
}
.service_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.sr_ti_box {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr_ti_box big {
  font-size: 4rem;
  font-weight: 600;
  color: #f71c52;
  margin-right: 20px;
}
.sr_ti_box > h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 5px 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.service_section {
  width: 100%;
  height: 100%;
  padding: 60px 10px;
}
.main_card {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px 30px 0px;
}
.ser_img {
  width: 30%;
  height: 200px;
  background-image: url("../img/ser2.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.ser_2 {
  background-image: url("../img/ser1.png");
}
.ser_3 {
  background-image: url("../img/ser3.png");
}
.ser_4 {
  background-image: url("../img/ser4.png");
}
.ser_img img {
  width: 70px;
  transform: translateX(10px);
}
.ser_content {
  width: 70%;
  padding: 10px;
}
.ser_content h2 {
  color: #fff;
  font-weight: 600;
  font-size: 2.3rem;
}
.ser_content p {
  font-size: 15px;
  color: #ffffff;
  line-height: 30px;
}

/* .main_card:hover .card_img {
  transform: translateY(0px);
  background-color: #ff0057;
}
.main_card:hover .card_content {
  transform: translateY(0px);
}
.card_content a:hover {
  background-color: #242424;
  color: #fff;
} */
.hire {
  width: 100%;
  height: 70vh;
  position: relative;
  z-index: 10;
  background-color: #0a115c;
}
.hire::after {
  content: "";
  width: 70%;
  height: 80%;
  background-color: #050546;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  margin: auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.hire_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  margin-top: 50px;
}
.hire_content h2 {
  font-size: 2.3rem;
  color: #fff;
  font-weight: 700;
}
.hire_content h5 {
  font-size: 1.4rem;
  color: #f7f7f7;
  font-weight: 400;
  margin: 10px 0px;
}
.hire_img_div {
  position: relative;
}
.hire_img {
  width: 70%;
  height: 400px;
  margin-top: 100px;
  background-image: url("../images/Shehab.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.review {
  width: 100%;
  height: 100%;
  background-color: #050546;
  padding: 50px 0px;
}
.review_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.review_slider {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin: 20px 0px;
}
.slider {
  width: 100%;
  background-color: #242069;
}

.review_title span {
  color: #fff;
  text-align: center;
}
.rv_ti_box {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rv_ti_box big {
  font-size: 4rem;
  font-weight: 600;
  color: #f71c52;
  margin-right: 20px;
}
.rv_ti_box > h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 5px 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.client_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.client_img_box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px 0px;
}
.client_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.client_content q {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  margin: 15px 0px;
  color: #fff;
}
.client_content span {
  font-size: 14px;
  font-weight: 700;
  word-spacing: 1px;
  color: #ff0057;
}
/* portfolio  */
.portfolio {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px 0px 100px 10px;
  background-color: #0a115c;
}
.portfolio_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
}
.pt_ti_box {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pt_ti_box big {
  font-size: 4rem;
  font-weight: 600;
  color: #f71c52;
  margin-right: 20px;
}
.pt_ti_box > h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 5px 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.port_img_box {
  width: 100%;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  overflow: hidden;
  margin: 5px 0px 50px 0px;
}
.port_img_box::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242069;
  opacity: 0.5;
  z-index: 1;
  transition: all 0.5s;
}
.port_img_box:hover::before {
  width: 100%;
}
.port_img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.port_overlay_content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.port_img_box:hover h2 {
  top: 20px;
  transition-delay: 0.1s;
}
.port_img_box:hover .sub_port_content {
  bottom: 50px;
  transition-delay: 0.1s;
}
.port_img_box h2 {
  font-size: 6rem;
  color: #fff;
  position: absolute;
  right: 10px;
  top: -100px;
  font-weight: 600;
  z-index: 6;
  transition: all 0.5s;
}
.port_img_box .sub_port_content {
  width: 100%;
  position: absolute;
  bottom: -150px;
  left: 50px;
  z-index: 9;
  transition: all 0.3s;
}
.sub_port_content h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  z-index: 6;
}
.sub_port_content h4 {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
  margin: 10px 0px;
}
.sub_port_content a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #f7f7f7;
  color: #242424;
  margin-top: 20px;
  font-size: 15px;
}
.contact {
  width: 100%;
  height: 100%;
  background-color: #050546;
  position: relative;
  z-index: 10;
}
.contact::before {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background: #f71c52;
  z-index: -1;
}
.contact::after {
  content: "";
  width: 52%;
  height: 120%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #141414;
  z-index: -1;
  clip-path: polygon(0 100%, 100% 100%, 100% 15%, 50% 0%, 0 25%);
  box-shadow: 1x 0px 10px rgba(255, 255, 255, 0.1);
}
.contact_title {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con_ti_box {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con_ti_box big {
  font-size: 4rem;
  font-weight: 600;
  color: #f71c52;
  margin-right: 20px;
}
.con_ti_box > h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 5px 0px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.contact_details_box {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  border-radius: 10px;
}
.contact_details_box span {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_details_box span i {
  color: #111;
  opacity: 1;
  font-size: 30px;
  z-index: 1;
}
.contact_details_box p {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 30px;
  margin-top: 10px;
}
.form_box {
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  z-index: 10000;
}
.input_box {
  width: 100%;
  height: 40px;
  position: relative;
  margin: 25px 0px;
  z-index: 100;
}
.input_box input {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  border: none;
  outline: none;
  background: none;
  color: #000;
  font-size: 16px;
  z-index: 99999999999;
}
.input_box .text {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
  pointer-events: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.input_box input:focus ~ .text,
.input_box input:valid ~ .text {
  transform: translateY(-20px);
}

.input_box .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: all 0.5s ease;
  z-index: -1;
  pointer-events: none;
}
.input_box input:focus ~ .line,
.input_box input:valid ~ .line {
  height: 90%;
}
.textarea {
  width: 100%;
  height: 80px;
  position: relative;
  margin: 30px 0px 0px 0px;
  z-index: 100;
}
.textarea textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  color: #000;
  font-size: 16px;
  z-index: 99999;
}
.textarea .text {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s ease;
  pointer-events: none;
}
.textarea textarea:focus ~ .text,
.textarea textarea:valid ~ .text {
  transform: translateY(-20px);
}
.textarea .line {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: -1;
}
.textarea textarea:focus ~ .line,
.textarea textarea:valid ~ .line {
  height: 90%;
}
.contact_btn {
  margin-top: 50px;
}
.contact_btn button {
  padding: 8px 25px;
  border: none;
  outline: none;
  color: #111;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.quick_link {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
.quick_link h3 {
  color: #fff;
  position: relative;
}
.quick_link h3::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
}
.quick_li_box {
  width: 60%;
  margin: 50px auto;
}
.quick_li_box ul {
  display: block;
}
.quick_li_box ul li {
  display: block;
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.quick_li_box ul li a {
  width: 35px;
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
}
.quick_li_box ul li a i {
  font-size: 20px;
  color: #111;
}
.bottom_logo {
  width: 100%;
}
.bottom_logo img {
  width: 35%;
  object-fit: contain;
  margin: auto;
}
.bottom_footer {
  width: 100%;
  text-align: center;
}
.bottom_footer p {
  color: #fff;
}
.bottom_footer span {
  color: #ff0057;
}
.headSet {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headSet span {
  padding-right: 15px;
  font-size: 14px;
  color: #fff;
}
.headSet span i {
  font-size: 2.5rem;
  color: #fff;
}
.experience {
  width: 100%;
  background-color: #242069;
}
.experience_title {
  width: 400px;
}
.get_peek {
  text-align: center;
  transform: translateX(50px);
}
.ex_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}
.ex_date {
  width: 20%;
  padding: 20px;
  background-color: #0a115c;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.ex_date .arrow i {
  font-size: 2rem;
  color: #fff;
}
.ex_content {
  width: 80%;
  background-color: #f6f6f6;
  padding: 20px;
  height: 140px;
}
.ex_content h3 {
  font-size: 1.5rem;
}
.ex_content p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  transform: translateY(-10px);
}

.ex_content span {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 10px !important;
  color: #777;
}
.port_list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.port_list ul {
  display: flex;
  list-style-type: none;
}
.port_list ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
  color: #777;
  cursor: pointer;
  font-weight: 600;
}
.port_list ul li.active {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.list-box {
  display: none;
}
.load_more {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.load_more button {
  border: none;
  outline: none;
  padding: 8px 16px;
  color: #fff;
  background-color: #ff0057;
}
.pricing {
  width: 100%;
  background-color: #050646;
  padding: 30px 10px 100px 10px;
}
.pricing_box {
  width: 75%;
  height: 480px;
  background-color: #242069;
  margin: auto;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.5s;
  position: relative;
}
.pricing_box h2 {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 3.5rem;
  color: #0a115c;
}
.pricing_box:hover {
  transform: translateY(-10px);
}
.price_top {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
}
.price_top span {
  color: #f71c52;
}
.price_top h4 {
  margin: 8px 0px;
  font-size: 2.4rem;
}
.price_top p {
  color: #777;
  font-size: 14px;
}
.price_bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.price_bottom ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.price_bottom ul li {
  padding: 10px 5px;
  font-size: 14px;
}
.price_bottom a {
  border: none;
  outline: none;
  padding: 8px 16px;
  background-color: #0a115c;
  color: #f7f7f7;
  transform: translateY(20px);
  text-decoration: none;
}
.course {
  width: 100%;
  background-color: #0a115c;
}
.Course_box {
  width: 90%;
  margin: auto;
  background-color: #050546;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 350px;
}
.course_img {
  width: 100%;
  height: 180px;
  clip-path: polygon(0% 1%, 99% 0%, 100% 89%, 73% 98%, 0 79%);
}
.course_img img {
  width: 100%;
  height: 100%;
}
.course_content {
  width: 100%;
  padding: 25px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.course_content p {
  font-size: 16px;
  color: #fff;
}
.course_content span {
  font-size: 14px;
  color: #ddd;
}
.course_content a {
  padding: 5px 8px;
  background-color: #f71c52;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 8px;
}
